CMakeFiles/
*.tar.gz
*.zip
*.rpm
*.dsc
*.changes
*.build
*.cbp
*.rc
*.pc
*.desktop
*.exe
*.qm
qrc_*.cxx
cmake_install.cmake
Makefile
PKGBUILD
moc_*
ui_*
qrc_*
coastal-qt-config.h
dbus_*
*.depends
common/libcoastal.*
dialogs/coastal-icons
dialogs/coastal-dialog
manpager/coastal-manpager
manpager/coastal-manpager.png
search/coastal-search
search/coastal-search.png
notify/coastal-notify
