CMakeFiles/
*.tar.gz
*.rpm
*.dsc
*.changes
*.build
*.cbp
*.rc
*.pc
*.desktop
*.exe
*.qm
qrc_*.cxx
cmake_install.cmake
Makefile
moc_*
ui_*
qrc_*
coastal-qt-config.h
dbus_*
*.depends
common/libcoastal.*
dialogs/coastal-icons
dialogs/coastal-dialog
manpager/coastal-manpager
search/coastal-search
notify/coastal-notify
