Source: coastal-qt
Priority: optional
Maintainer: David Sugar <dyfet@gnutelephony.org>
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.0),
               libqt4-dev (>= 4.8.0),
               cmake (>= 2.8.0),
               libxss-dev, libmagic-dev
Standards-Version: 3.9.3
Homepage: http://www.gnutelephony.org
Section: utils

Package: libcoastal-dev
Section: libdevel
Architecture: any
Depends: libcoastal0 (= ${binary:Version}), ${misc:Depends}
Description: Headers and development files for libcoastal
 This package offers header files for developing applications that use the
 coastal qt library extensions.

Package: coastal-qt-dbg
Architecture: any
Section: debug
Priority: extra
Recommends: libcoastal-dev
Depends: libcoastal0 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for coastal applications
 This package includes debugging symbols for coastal applications.
 .
 Most people will not need this package.

Package: libcoastal0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${misc:Pre-Depends}
Description: Runtime library for coastal applications
 This is the runtime library used by coastal applications.  This includes
 runtime library extensions to Qt.

Package: coastal-qt
Replaces: coastal-apps
Conflicts: coastal-apps
Section: utils
Architecture: any
Depends: libcoastal0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Applications and extra utilities
 This includes stand-alone applications built with coastal-qt, and helper
 applications. 

